<table id='<%=viewModel.id%>' class="<%=viewModel.tableClasses%> table-responsive">

  <tr class="trow">

    <% viewModel.columns.forEach( function(col, key){ %>

      <th class="thead sortable <%=viewModel.thClasses%>" data-name="<%=col.name%>">
        <%=col.label%>
          <i id="<%=col.name%>-asc" class="bi bi-arrow-up" aria-hidden="true" style="display:none"></i>
          <i id="<%=col.name%>-desc" class="bi bi-arrow-down" aria-hidden="true" style="display:none"></i>
      </th>

      <% }) %>

        <th class="thead <%=viewModel.thClasses%>"> Actions </th>
  </tr>
  
  <tbody>
    <% view.forEach( function(currentTeam){ %>
      <tr data-bs-toggle="popover" data-id="<%=currentTeam.id%>">
        <% viewModel.columns.forEach( function(col, key){ %>
          <td>
            <%=currentTeam[col.name]%>
          </td>
          <% }) %>
            <td>
              <span class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#editModal" data-id="<%=currentTeam.id%>" data-name="<%=currentTeam.name%>"></span>
              &nbsp;&nbsp;
              <span class="bi bi-x-square-fill" data-bs-toggle="modal" data-bs-target="#deleteConfirmation" data-id="<%=currentTeam.id%>" data-name="<%=currentTeam.name%>"></span>
            </td>
      </tr>
      <% console.log(currentTeam.id)})%>
  </tbody>

</table>
